* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #8EC5FC;
background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 57%);

}

.titulo {
    text-align: center;
}

.logoRedes {
    width: 20px;
  
}

.seleccionado {
    background-color: lightblue;
}

#botonSobreMi:hover, #botonContacto:hover, #botonEstudios:hover , #botonIdioma:hover, #botonConocimientos:hover, #botonExperienciaLaboral:hover, #botonRedesSociales:hover {
    background-color: lightblue;
}

#cuadroSobreMi {
    display: none;
}