@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: #8EC5FC;
background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 57%);

}

.titulo {
    text-align: center;
    font-family: 'Merriweather', serif;
}

.logoRedes, .iconos {
    width: 20px;
    object-fit: contain;
  
}

.seleccionado {
    background-color: lightblue;
}

#botonSobreMi:hover, #botonContacto:hover, #botonEstudios:hover , #botonIdioma:hover, #botonConocimientos:hover, #botonExperienciaLaboral:hover, #botonRedesSociales:hover {
    background-color: lightblue;
}